@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind utilities;

.text-title {
    font-family: 'Times New Roman';
}

.title-landing {

    /* width: 572px;
    height: 182px; */

    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    font-size: 110px;
    line-height: 82.49%;
    /* or 91px */


    color: #000000;

}

.sub-title {
    /* width: 500px;
    height: 107px; */

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: white;

}

.active {
    color: #AF2E1C;
}